<body>
  <div class="wrapper">
    <div>
      <app-left-bar> </app-left-bar>
    </div>

    <div class="second-container" [ngClass]="{
      pending1: shownotiff == false,

    }">

      <div class="title">Consultants</div>
      <!-- <div class="search-bar">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path
            d="M21.7555 20.6065L18.3182 17.2458L18.2376 17.1233C18.0878 16.9742 17.883 16.8902 17.6692 16.8902C17.4554 16.8902 17.2505 16.9742 17.1007 17.1233C14.1795 19.8033 9.67815 19.949 6.58201 17.4637C3.48586 14.9784 2.75567 10.6334 4.87568 7.31017C6.9957 3.98697 11.3081 2.71685 14.9528 4.34214C18.5976 5.96743 20.4438 9.98379 19.267 13.7276C19.1823 13.9981 19.2515 14.2922 19.4487 14.4992C19.6459 14.7062 19.9411 14.7946 20.223 14.7311C20.505 14.6676 20.7309 14.4619 20.8156 14.1914C22.2224 9.74864 20.0977 4.96755 15.8161 2.94106C11.5345 0.914562 6.38084 2.25082 3.68905 6.08542C0.99727 9.92001 1.57518 15.1021 5.04893 18.2795C8.52268 21.4569 13.8498 21.6759 17.5841 18.7949L20.6277 21.7705C20.942 22.0765 21.4502 22.0765 21.7645 21.7705C22.0785 21.4602 22.0785 20.9606 21.7645 20.6503L21.7555 20.6065Z"
            fill="#1E1E1E" />
        </svg>
        <div class="Search-text">
          <input type="search" placeholder="Search Anything Here..." />
        </div>
        <div>
          <button class="button">Rechercher</button>
        </div>
      </div> -->

      <div class="Tableau" style=" justify-content: center;">
        <div class="chiffre_affaire">
          <div class="Tableau">
            <div class="chaffaire">Chiffre d’Affaire</div>
            <!-- <div class="pourcentage Tableau">
    
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none">
                                    <path
                                        d="M2.73086 1.03259L1.00245 3.12467C0.865848 3.29001 0.865848 3.5516 1.00245 3.71695C1.07294 3.80227 1.16992 3.84955 1.27159 3.84955C1.37326 3.84955 1.47024 3.80227 1.54073 3.71695L2.62841 2.40043V6.67126C2.62841 6.88933 2.77776 7.1 3 7.1C3.22225 7.1 3.37159 6.88933 3.37159 6.67126V2.40043L4.45927 3.71695C4.52976 3.80227 4.62674 3.84955 4.72841 3.84955C4.83008 3.84955 4.92706 3.80227 4.99755 3.71695C5.13415 3.55161 5.13415 3.29001 4.99755 3.12467L3.26914 1.03259C3.19865 0.947275 3.10167 0.9 3 0.9C2.89833 0.9 2.80135 0.947275 2.73086 1.03259Z"
                                        fill="#FEFCF1" stroke="#FEFCF1" stroke-width="0.2" />
                                </svg>20%
    
    
    
                            </div> -->
          </div>
          <div class="Tableau">
            <div class="nb_money">
              <b> {{ cardstats.totalRevenue }}€</b>
            </div>
            <div class="graph">
              <svg xmlns="http://www.w3.org/2000/svg" width="100" height="560" viewBox="0 0 91 56" fill="none">
                <path
                  d="M2 54.1485C21.1808 54.9943 30.3079 49.9052 32.5 42.7153C35.0789 34.2567 39.5 28.816 43 27.2153C50.4957 23.7873 53.8751 30.4547 62 28.2153C69.0285 26.2781 71.3103 21.6768 74 16.7153C76.1698 12.7128 79.5 0.214852 89 2.21525"
                  stroke="#FEFCF1" stroke-width="3" stroke-linecap="round" />
              </svg>
            </div>
          </div>
        </div>
        <div class="tjm_moyen">
          <div class="chaffaire">TJM Moyen</div>
          <div class="nb_money">
            <b> {{ cardstats.averageTJM | number : "1.0-0" }}€ </b>
          </div>
        </div>
        <div class="tjm_moyen">
          <div class="chaffaire">Nb de Consultants</div>
          <div class="nb_money">
            <b> {{ nbdemande }} </b>
          </div>
        </div>
      </div>
      <br />
      <div class="Tableau">
        <div class="first" (click)="toggleMenu1()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path d="M11.5996 11.6001L13.9996 11.6001" stroke="#1E1E1E" stroke-width="0.8" stroke-miterlimit="10"
              stroke-linecap="round" stroke-linejoin="round" />
            <path d="M2 4.3999L4.4 4.3999" stroke="#1E1E1E" stroke-width="0.8" stroke-miterlimit="10"
              stroke-linecap="round" stroke-linejoin="round" />
            <path d="M9.2002 4.3999L14.0002 4.3999" stroke="#1E1E1E" stroke-width="0.8" stroke-miterlimit="10"
              stroke-linecap="round" stroke-linejoin="round" />
            <path d="M6.80039 2L4.40039 2L4.40039 6.8L6.80039 6.8L6.80039 2Z" stroke="#1E1E1E" stroke-width="0.8"
              stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M11.6002 9.2002L9.2002 9.2002L9.2002 14.0002L11.6002 14.0002L11.6002 9.2002Z" stroke="#1E1E1E"
              stroke-width="0.8" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M2 11.6001L6.8 11.6001" stroke="#1E1E1E" stroke-width="0.8" stroke-miterlimit="10"
              stroke-linecap="round" stroke-linejoin="round" />
          </svg>

        </div>
        <div class="dropdown-menu" style="margin: 60px 0px 0px 10px;" *ngIf="isMenuOpen1">
          <!-- Menu items go here -->
          <div style="display: flex; cursor: pointer" (click)="toggleSortDirection('date')">
            <div class="first">
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                <path d="M1.5 2.5L12.5 2.5" stroke="#171A1F" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M6 11.5H8" stroke="#171A1F" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M3 5.5L11 5.5" stroke="#171A1F" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M4.5 8.5L9.5 8.5" stroke="#171A1F" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
              <div>Trier: Date de la demande</div>
              <svg *ngIf="sortDirection === 'asc'  " xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1" />
              </svg>
              <svg *ngIf="sortDirection === 'desc'" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5" />
              </svg>
            </div>
          </div>
          <div style="display: flex; cursor: pointer" (click)="toggleSortDirection('alpha')">
            <div class="first">

              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                <path d="M1.5 2.5L12.5 2.5" stroke="#171A1F" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M6 11.5H8" stroke="#171A1F" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M3 5.5L11 5.5" stroke="#171A1F" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M4.5 8.5L9.5 8.5" stroke="#171A1F" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
              <div>Trier: Ordre alphabétique</div>
              <span style="margin-left: 20px;">{{sortDirectionAlpha}}</span>
            </div>
          </div>
        </div>
        <!--   <div class="first">
          <div style="margin-right: 5px; cursor: pointer;" (click)="gotocdashboad()">Tous les Consultants
          </div>
          <div>
            <div class="second">Missions</div>
          </div> 
        </div>-->
        <div class="first">
          <svg style="margin-top: -2px;margin-left: -10px;" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewBox="0 0 24 24" fill="none">
            <path
              d="M21.7555 20.6065L18.3182 17.2458L18.2376 17.1233C18.0878 16.9742 17.883 16.8902 17.6692 16.8902C17.4554 16.8902 17.2505 16.9742 17.1007 17.1233C14.1795 19.8033 9.67815 19.949 6.58201 17.4637C3.48586 14.9784 2.75567 10.6334 4.87568 7.31017C6.9957 3.98697 11.3081 2.71685 14.9528 4.34214C18.5976 5.96743 20.4438 9.98379 19.267 13.7276C19.1823 13.9981 19.2515 14.2922 19.4487 14.4992C19.6459 14.7062 19.9411 14.7946 20.223 14.7311C20.505 14.6676 20.7309 14.4619 20.8156 14.1914C22.2224 9.74864 20.0977 4.96755 15.8161 2.94106C11.5345 0.914562 6.38084 2.25082 3.68905 6.08542C0.99727 9.92001 1.57518 15.1021 5.04893 18.2795C8.52268 21.4569 13.8498 21.6759 17.5841 18.7949L20.6277 21.7705C20.942 22.0765 21.4502 22.0765 21.7645 21.7705C22.0785 21.4602 22.0785 20.9606 21.7645 20.6503L21.7555 20.6065Z"
              fill="#1E1E1E" />
          </svg>
          <input type="search" placeholder="rechercher un consultant" [(ngModel)]="searchTerm" (input)="applyFilter()">
        </div>
        <svg (click)='resetFilter()' style="margin-top: 10px;cursor: pointer;;" xmlns="http://www.w3.org/2000/svg"
          width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z" />
          <path
            d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466" />
        </svg>
        <div class="Tableau export" (click)="exportTable()">

          <div class="first">Export list</div>
        </div>
      </div>

      <br />
      <table style="border-radius: 0.6875rem 0.6875rem 0rem 0rem">
        <thead>
          <tr>
            <th style="border-radius: 0.6875rem 0rem 0rem 0rem">
              <div style="margin-left: 39px;text-align: left;">
                Tous les consultants
              </div>

            </th>
            <th>Email</th>
            <th>Téléphone</th>
            <th style="border-radius: 0rem 0.6875rem 0rem 0rem">Date de création</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of getDisplayeddocs(); let i = index" style="height: auto;cursor: pointer;"
            (click)="gotomissions(item.userId)">
            <td class="Tableau"> <!-- *ngIf="item.isAvtivated"-->
              <div class="image">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  style="width: 1rem;border-radius: 50%; background: #f3f4f6;margin-top: 4%;" class="bi bi-person-fill"
                  viewBox="0 0 16 16">
                  <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                </svg>
              </div>

              <div style="margin-top: 12px;margin-left: 1%; justify-content: center;">
                {{ item.personalInfo?.firstName.value }}
                {{ item.personalInfo?.lastName.value }}

              </div>
            </td>
            <td style="width: 1px;">
              {{ item.personalInfo?.email.value }}
            </td>
            <td>
              {{ item.personalInfo?.phoneNumber.value }}
            </td>


            <td>
              {{ formatDate(item.addedDate.split("T")[0]) }}
            </td>
          </tr>
        </tbody>
      </table>
      <div class="pagination">
        <div (click)="previousPage()" style="cursor: pointer;">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-chevron-double-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
            <path fill-rule="evenodd"
              d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
          </svg>
        </div>


        <span style="margin-top: 10px;"> {{ currentPage }} of {{ totalPages }}</span>
        <div (click)="nextPage()" style="cursor: pointer;">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-chevron-double-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708" />
            <path fill-rule="evenodd"
              d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708" />
          </svg>
        </div>

      </div>
    </div>

    <div style=" height: 10px;">

      <div class="right-item" style="cursor: pointer;">
        <div style="display: flex">
          <div class="profil1" (click)="shownotif()" style="cursor: pointer;">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="31" viewBox="0 0 32 31" fill="none">
                <path
                  d="M23.2203 20.62C23.2203 21.47 22.5303 22.16 21.6803 22.16H8.32027C7.47027 22.16 6.78027 21.47 6.78027 20.62C6.78027 19.77 7.47027 19.08 8.32027 19.08H8.83027V13.94C8.83027 10.54 11.5903 7.77002 15.0003 7.77002C16.7003 7.77002 18.2403 8.46002 19.3603 9.58002C20.4803 10.69 21.1703 12.23 21.1703 13.94V19.08H21.6803C22.5303 19.08 23.2203 19.77 23.2203 20.62Z"
                  stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M15 7.78V6.75" stroke="black" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round" />
                <path
                  d="M18.0799 22.1699C18.0799 23.8799 16.6999 25.2499 14.9999 25.2499C13.2999 25.2499 11.9199 23.8699 11.9199 22.1699H18.0799Z"
                  stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <circle cx="21.5" cy="7.5" r="4.5" fill="#F33A2A"
                  *ngIf="notification.length > 0 || new_notif === 'true' " />
              </svg>
            </div>
            <div>
              <div style="width: 220px; margin-top: 10px; font-size: 0.8125rem">
                <b> Toutes les notifications </b>
              </div>
              <div style="
                  color: rgba(0, 0, 0, 0.52);
      
                  font-size: 0.8125rem;
                  font-style: normal;
                  font-weight: 400;
      
                  line-height: 100%; /* 0.8125rem */
                ">
                {{ nblastnotifications }} notifications
              </div>
            </div>

          </div>
          <div class="profil" (click)="gotomyprofile()" style="cursor: pointer;">
            <img src="/assets/avatar-user.png" width="15%" height="10%" />
            <div class="nom-prenom">{{res.firstName}} {{res.lastName}} <br>

            </div>

          </div>
        </div>

        <app-notificaion-rh *ngIf="shownotiff"></app-notificaion-rh>
      </div>

    </div>

  </div>
</body>