<div style="font-family: 'Poppins', sans-serif !important;">



    <body *ngIf="role != 'CONSULTANT' ">
        <div>
            <app-left-bar></app-left-bar>
        </div>
        <div class="loader" *ngIf="!show"></div>
        <div class="second-container" *ngIf="show">

            <div>
                <div style=" display: flex">
                    <div class="title">
                        <b> Mes infos Personnelless</b>
                    </div>
                </div>
                <div style="display: flex; margin: 0px 15px">
                    <div>
                        <img src="/assets/4035887-200.png"
                            style="width: 40px; border-radius: 20%; height: 45px;margin-top: 20px;" />
                    </div>
                    <div style="margin: 15px; margin-top: 30px; font-size: 20px">
                        <div> <b> {{ res.firstName }} {{ res.lastName }} </b></div>
                    </div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="361" height="" viewBox="0 0 361 2" fill="none">
                    <path d="M0 1H361" stroke="#CDC7B9" stroke-opacity="0.52" stroke-dasharray="8 8" />
                </svg>
                <h3 style="margin-left: 15px">Informations Personnelles</h3>
                <div style="margin-left:3px">
                    <div class="tableau">
                        <div>
                            <b style="margin-left: 12px;"> Nom :</b><br>
                            <input type="text" [(ngModel)]="firstName" />
                        </div>
                        <div>
                            <b style="margin-left: 12px;"> Prénom :</b><br>
                            <input type="text" [(ngModel)]="lastName" />
                        </div>
                        <div>
                            <b style="margin-left: 12px;"> Email :</b><br>
                            <input type="email" [(ngModel)]="email" readonly />
                        </div>
                    </div>


                    <div class="tableau">
                        <div>
                            <b style="margin-left: 12px;"> Télephone :</b><br>
                            <input type="text" [(ngModel)]="phoneNumber" />
                        </div>


                        <div>
                            <b style="margin-left: 12px;"> Adresse :</b><br>
                            <input type="text" [(ngModel)]="location" />
                        </div>
                        <div>
                            <b style="margin-left: 12px;"> Nationalité :</b><br>
                            <input type="text" [(ngModel)]="nationality" />
                        </div>
                    </div>
                    <div class="tableau">
                    </div>
                    <button (click)="updateUser()">Modifier</button>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="31" height="20" viewBox="0 0 361 2" fill="none">
                    <path d="M0 1H361" stroke="#CDC7B9" stroke-opacity="0.52" stroke-dasharray="8 8" />
                </svg>
            </div>
            <div>
                <h3 style="margin-left: 15px">Changer mot de passe</h3>
                <div style="margin-left:3px; display: flex;">
                    <div>
                        <b style="margin-left: 12px;"> Mot de passe actuel :</b><br>
                        <input type="password" [(ngModel)]="currentPassword" placeholder="Mot de passe actuel" />
                    </div>
                    <div>
                        <b style="margin-left: 12px;"> Nouveau mot de passe :</b><br>
                        <input type="password" [(ngModel)]="newPassword" placeholder="Nouveau mot de passe" />
                    </div>
                    <div>
                        <b style="margin-left: 12px;"> Confirmer nouveau mot de passe :</b><br>
                        <input type="password" [(ngModel)]="confirmPassword"
                            placeholder="Confirmer nouveau mot de passe" />
                    </div>
                </div>

            </div>
            <button (click)="changePassword()">Modifier</button>


        </div>
        <div class="right-item">
            <div style="display: flex;margin-bottom: 0px;">

                <div class="profil" (click)="gotomyprofile()" style="cursor: pointer;">
                    <img src="/assets/avatar-user.png" width="15%" height="10%" />
                    <div class="nom-prenom">{{res.firstName}} {{res.lastName}} <br>

                    </div>

                </div>
            </div>

        </div>
    </body>

    <div *ngIf="role === 'CONSULTANT'">
        <div>
            <app-left-bar></app-left-bar>
        </div>
        <div class="loader" *ngIf="!show"></div>
        <div class=" second-container" *ngIf="show">

            <div>
                <div style="display: flex">
                    <div class="title">
                        <b> Mes infos Personnelless</b>
                    </div>

                </div>
                <div style="display: flex; margin: 0px 15px">
                    <div>
                        <img src="/assets/4035887-200.png"
                            style="width: 40px; border-radius: 20%; height: 45px;margin-top: 20px;" />
                    </div>
                    <div style="margin: 15px; margin-top: 30px; font-size: 20px">
                        <div> <b> {{ res.firstName }} {{ res.lastName }} </b></div>
                    </div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="361" height="" viewBox="0 0 361 2" fill="none">
                    <path d="M0 1H361" stroke="#CDC7B9" stroke-opacity="0.52" stroke-dasharray="8 8" />
                </svg>
                <h3 style="margin-left: 15px">Informations Personnelles</h3>
                <div style="margin-left:3px">
                    <div class="tableau">
                        <div>
                            <b style="margin-left: 12px;"> Nom :</b><br>
                            <input type="text" [(ngModel)]="firstName" />
                        </div>
                        <div>
                            <b style="margin-left: 12px;"> Prénom :</b><br>
                            <input type="text" [(ngModel)]="lastName" />
                        </div>
                        <div>
                            <b style="margin-left: 12px;"> Email :</b><br>
                            <input type="email" [(ngModel)]="email" readonly />
                        </div>
                    </div>

                    <br>
                    <div class="tableau">
                        <div>
                            <b style="margin-left: 12px;"> Télephone :</b><br>
                            <input type="text" [(ngModel)]="phoneNumber" />
                        </div>
                        <div>
                            <b style="margin-left: 12px;"> Adresse :</b><br>
                            <input type="text" [(ngModel)]="location" />
                        </div>
                        <div>
                            <b style="margin-left: 12px;"> Nationalité :</b><br>
                            <input type="text" [(ngModel)]="nationality" />
                        </div>
                    </div>
                    <div class="tableau">
                    </div>

                </div>
                <button (click)="updateUser()">Modifier</button>
                <svg xmlns="http://www.w3.org/2000/svg" width="31" height="20" viewBox="0 0 361 2" fill="none">
                    <path d="M0 1H361" stroke="#CDC7B9" stroke-opacity="0.52" stroke-dasharray="8 8" />
                </svg>
            </div>
            <div>
                <h3 style="margin-left: 15px">Changer mot de passe</h3>
                <div style="margin-left:3px; display: flex;">
                    <div>
                        <b style="margin-left: 12px;"> Mot de passe actuel :</b><br>
                        <input type="password" [(ngModel)]="currentPassword" placeholder="Mot de passe actuel" />
                    </div>
                    <div>
                        <b style="margin-left: 12px;"> Nouveau mot de passe :</b><br>
                        <input type="password" [(ngModel)]="newPassword" placeholder="Nouveau mot de passe" />
                    </div>
                    <div>
                        <b style="margin-left: 12px;"> Confirmer nouveau mot de passe :</b><br>
                        <input type="password" [(ngModel)]="confirmPassword"
                            placeholder="Confirmer nouveau mot de passe" />
                    </div>
                </div>

            </div>
            <button (click)="changePassword()">Modifier</button>


        </div>
        <div class="right-item">
            <div style="display: flex;margin-bottom: 0px;">

                <div class="profil" (click)="gotomyprofile()" style="cursor: pointer;">
                    <img src="/assets/avatar-user.png" width="15%" height="10%" />
                    <div class="nom-prenom">{{res.firstName}} {{res.lastName}} <br>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>