<body>
    <div class="row">
        <div>
            <img src="/assets/mk 3.svg" width="30%" height="30%">
        </div>
        <h1>Mot de passe oublié</h1>
        <h6 class="information-text">Entrez votre nouveau mot de passe.</h6>
        <div class="form-group">
            <p><label for="new_password">Nouveau mot de passe</label></p>
            <input type="password" name="new_password" id="new_password" [(ngModel)]="newPassword">

            <button (click)="updatePassword()">Mettre à jour le mot de passe</button>
        </div>
        <div class="footer">
            <h5>Pas encore de compte ? <a href="#">Inscrivez-vous</a></h5>
            <h5>déjà membre ? <a href="#">Connectez-vous</a></h5>
        </div>
    </div>
</body>