<body>
    <div class="row">
        <div>
            <img src="/assets/mk 3.svg" width="30%" height="30%">
        </div>
        <h1>Mot de passe oublié</h1>
        <h6 class="information-text">Entrez votre email enregistré pour réinitialiser votre mot de passe.</h6>
        <div class="form-group">
            <p><label for="user_email">Email</label></p>
            <input type="email" name="user_email" id="user_email" [(ngModel)]="email">

            <button (click)="forgetPassword()">réinitialiser le mot de passe</button>
        </div>
        <div class="footer">
            <h5>Pas encore de compte ? <a href="#">Inscrivez-vous</a></h5>
            <h5>déjà membre ? <a href="#">Connectez-vous</a></h5>
        </div>
    </div>
</body>